@font-face {
    font-family: Shabnam;
    src: url(assets/font/Shabnam-Medium-FD.ttf);
    src: url(assets/font/Shabnam-Medium-FD.woff);
  }
  html {
    margin: 0px;
    padding: 0px;
    font-family: Shabnam;
  }
  * {
    box-sizing: border-box;
    outline: none;
    font-family: Shabnam;
  }
  a {
    text-decoration: none !important;
  }
  button {
    cursor: pointer;
  }